<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img [src]="image" height="70px">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  
    <form class="form-inline my-2 my-lg-0 ml-auto">
      
      <button [routerLink]="['/login']" class="btn btn-info my-2 my-sm-0"   >login</button>
       </form>
  </div>
</nav>